@model List<StoryViewModel>
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h5>@ViewData["SortTitle"]</h5>
        </div>
        @*<div class="col">
                <button class="btn btn-light dropdown-toggle" type="button" id="viewList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lists
                </button>
                <div class="dropdown-menu" aria-labelledby="viewList">
                    <a class="dropdown-item" href="/">New</a>
                    <a class="dropdown-item" href="/Home/GetTop">Top</a>
                    <a class="dropdown-item" href="/Home/GetBest">Best</a>
                </div>
            </div>*@
        <div class="col tex-right">
            Show
            <button class="btn btn-link dropdown-toggle" id="pageSize" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                @ViewData["PageSize"]
            </button>
            <div class="dropdown-menu" aria-labelledby="pageSize" onchange="@ViewData["PageSize"]=this.value;">
                <a class="dropdown-item" href="#">25</a>
                <a class="dropdown-item" href="#">50</a>
                <a class="dropdown-item" href="#">100</a>
            </div>
            items
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div>
            <span class="font-weight-bold"><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a></span>
            <small class="text-muted">
                @Html.DisplayFor(modelItem => item.AgeDescription)
                by
                @Html.DisplayFor(modelItem => item.Submitter)
                <p></p>
            </small>
        </div>
    }
</div>
